<!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <div class="sidenav-header-inner text-center">
            <h5 class="text-uppercase text-dark">RAIN</h5>
          </div>
          <div class="sidenav-header-logo"><a href="/" class="brand-small text-center" > <h5 class="text-uppercase small py-1">RAIN</h5></a></div>
        </div>
        <div class="main-menu" style="overflow-y: auto;">
          <ul id="side-main-menu" class="side-menu list-unstyled ">                  
            <li class="border border-top-0 border-left-0 border-right-0"><a href="/15987"> <i class="fas fa-home"></i><span>Home</span></a></li>
            <li class="border border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-star"></i><span>Favorites</span></a></li>          
            <li class="border border-top-0 border-left-0 border-right-0"> <a href="#cbcs-nav-list" data-toggle="collapse" aria-expanded="false"><i class="fas fa-window-restore"></i><span>CBCS</span> <span class="arrow"><i class="fa fa-angle-down"></i></span> </a>              
            </li>
            <ul id="cbcs-nav-list" class="collapse list-unstyled" data-parent=".admin-menu">
                <!-- <li class="nav-item"><a data-toggle="tab" href="#vision-mission" class="nav-link small">Vision & Mission</a></li>     -->
                <ul class="nav flex-column">
                  <li class="nav-item"><a data-toggle="tab" href="#/rule-generator" class="nav-link small ">Course code Generator</a></li> 
                  <li class="nav-item"><a data-toggle="tab" href="#/m-course-list" class="nav-link small">Master Course List</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/bos" class="nav-link small">BOS</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/control-panel" class="nav-link small">Control Panel</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/course-publishing" class="nav-link small">Course Publishing</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/view-published-course" class="nav-link small">View Published Course</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/student-billing-approval" class="nav-link small">Student Billing Approval</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/status-report" class="nav-link small">Status Report</a></li>
                  <li class="nav-item"><a data-toggle="tab" href="#/attendance-edit-report" class="nav-link small">Attendance Edit Report</a></li>
                </ul>
            </ul>
            <li class="border  border-top-0 border-left-0 border-right-0"> <a href="#report-nav-list" class="collapsed" data-toggle="collapse" aria-expanded="false"><i class="fas fa-filter"></i><span>Reports</span> <span class="arrow"><i class="fa fa-angle-down"></i></span> </a></li>  
            <ul id="report-nav-list" class="collapse list-unstyled" data-parent=".admin-menu">
              <li class="nav-item">
                <a data-toggle="tab" href="#/registration-details-report" class="nav-link small">Registration Details Report</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#" class="nav-link small">Consolidated Attendance Report</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#" class="nav-link small">Faculty Attendance Report</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" href="#" class="nav-link small">Student Attendance percentage By Period</a>
              </li>
            </ul>
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-paste"></i><span>Content Delivery List</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="far fa-flag"></i><span>Assessment Types</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-code-branch"></i><span>Data Load</span></a></li>                    
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-file-alt"></i><span>Staff List</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="far fa-folder"></i><span>Student List</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-certificate"></i><span>SAR Report</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-globe"></i><span>Registration Details</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="far fa-folder-open"></i><span>Course Marks Screen</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"><a href="#"> <i class="fas fa-file-excel"></i><span>Semester Reg. & Approval</span></a></li>        
            <li class="border  border-top-0 border-left-0 border-right-0"> <a href="#programme-nav-list" class="collapsed" data-toggle="collapse" aria-expanded="false"><i class="fas fa-window-restore"></i><span>Programme List</span> <span class="arrow"><i class="fa fa-angle-down"></i></span> </a></li>
            <ul id="programme-nav-list" class="collapse list-unstyled" data-parent=".admin-menu">
                <li class="nav-item"><a data-toggle="tab" href="#" class="nav-link small">Registration Details Report</a></li>   
                <li class="nav-item"><a data-toggle="tab" href="#" class="nav-link small">Consolidated Attendance Report</a></li>
             </ul>
          </ul>
        </div>
      </div>
    </nav>

    