<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= title %></title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template-->
  <link href="/stylesheets/admin/build/adminstyles.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container d-flex align-items-center" style="height:80vh;">
    <div class="row">
      <div class="col-sm-6 mt-4">
        <img src="/images/Login-Screen.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-5 mx-auto">
        <div class="card card-login mx-auto mt-5">          
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <!-- <div class="card-header">Login</div> -->
              <div class="card-body">
                <form action="/15987" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="sr-only">Email</label>
                    <input class="form-control" name="username" placeholder="Enter Email" type="name" tabindex="1">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="sr-only">Password</label>
                    <input class="form-control" name="password" type="password" placeholder="Enter Password" tabindex="2">
                  </div>
                  <button type="submit" class="btn btn-primary" tabindex="3">Login</button>
                  <a href="" class="float-right btn btn-link ">Forgot password?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
  <!-- Bootstrapcdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="/javascripts/admin/build/front.js"></script>
  <script src="/javascripts/admin/build/admin-script.min.js"></script>
</body>

</html>
